%h3 Offers / Requests
%table.table.table-condensed
  %thead
    %tr
      %th Title
      %th Category
      %th Created
  %tbody
    - @ads.each do |ad|
      %tr{:class => "#{ad.offer ? 'success' : 'warning'}"}
        %td
          - if ad.offer?
            %span.label.label-success Offer
          - else
            %span.label.label-warning Request
          =link_to ad.title, ad_path(ad)
        %td= ad.category_id
        %td Created by #{link_to ad.user.username, user_path(ad.user)} #{time_ago_in_words ad.created_at} ago

= paginate @ads
= link_to 'Create New Ad', new_ad_path, class: 'btn btn-primary'