<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ad.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @ad.offer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ad.category_id %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @ad.expiration_date %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
