%p
  %strong User:
  =link_to @ad.user.username, user_path(@ad.user)
%p
  %strong Title:
  = @ad.title
%p
  %strong Description:
  = @ad.description
%p
  %strong Offer:
  = @ad.offer
%p
  %strong Category:
  = @ad.category_id
%p
  %strong Expiration date:
  = @ad.expiration_date

= link_to 'Back', ads_path, class: 'btn'
= link_to 'Edit', edit_ad_path(@ad), class: 'btn btn-warning' if @ad.user == current_user
= link_to 'Delete', @ad, :confirm =>'Are you sure?', :method => :delete, class: 'btn btn-danger' if @ad.user == current_user