-title @user.username.to_s + ' profile'
.page-header
  %h1= @user.username + ' profile'
%dl.dl-horizontal
  %dt
    %strong= t 'Email'
  %dd= @user.email
  %dt
    %strong= t 'last_sign_in_at'
  %dd= time_ago_in_words @user.last_sign_in_at unless @user.last_sign_in_at.nil?
%hr
%h3 Balances
= @user.account.balance_with_currency