%h1 Listing transactions
%table
  %thead
    %tr
      %th Account from
      %th Account to
      %th Amount
      %th Date
      %th Notes
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.account_from
        %td= transaction.account_to
        %td= transaction.amount
        %td= time_ago_in_words transaction.created_at
        %td= transaction.notes
%br/
= link_to 'New Transaction', new_transaction_path, class: 'btn btn-success'
