%h1 Listing transactions
%table.table.table-striped
  %thead
    %tr
      %th #
      %th User from
      %th User to
      %th Amount
      %th Date
      %th Notes
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.id
        %td= link_to Account.find(transaction.account_from).user.username, Account.find(transaction.account_from).user
        %td= link_to Account.find(transaction.account_to).user.username, Account.find(transaction.account_to).user
        %td= transaction.amount_with_currency
        %td= time_ago_in_words transaction.created_at
        %td= transaction.notes

= paginate @transactions
%br/
= link_to 'New Transaction', new_transaction_path, class: 'btn btn-success'
