%h1 New transaction

.well
  = form_for(@transaction, :html => {class: 'form-horizontal' }) do |f|
    - if @transaction.errors.any?
      #error_explanation
        %h2
          = pluralize(@transaction.errors.count, "error")
          prohibited this transaction from being saved:
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      = f.label :account_from, class: 'control-label'
      .controls
        = f.collection_select :account_from, @accounts, :id, :balance_with_currency
    .control-group
      = f.label :user_to, 'Send to user', class: 'control-label'
      .controls
        = f.text_field :user_to
    .control-group
      = f.label :amount, class: 'control-label'
      .controls
        = f.number_field :amount, class: 'span1'
    .control-group
      = f.label :notes, class: 'control-label'
      .controls
        = f.text_field :notes, class: 'span4'
    .control-group
      .controls
        = f.submit 'Send money', class: 'btn btn-success btn-large'