%p
  %strong User from:
  = link_to User.find(@transaction.account_from), user_path(@transaction.account_from)
%p
  %strong User to:
  = link_to User.find(@transaction.account_to), user_path(@transaction.account_to)
%p
  %strong Amount:
  = @transaction.amount
%p
  %strong Date:
  = @transaction.created_at
%p
  %strong Notes:
  = @transaction.notes
= link_to 'Back', transactions_path
